<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h4><%= link_to product.name, product_path(product), remote: true %></h4>
      <p><%= product.description %></p>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, min: 0, placeholder: "Oops, breaks if you don't add input!" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
        <% if current_admin %>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

          How to define admin, then I can link this to edit and destroy.  Need help building update.


      <% end %>
    </div>
  <% end %>
</div>

<div class="product_show" style="display: none">
  <h3></h3>
  <h4></h4>
  <span></span>
  <!-- delete button in controller? -->
  <p><%= link_to "Take me home tonight", product_hide_path, remote: true %></p>
</div>

</div>
